@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

:root {

    --fonte-topo: 'Passion One', cursive;
    --fonte-link: Arial, verdana, Helvetica, sans-serif;
    --fonte-corpo: 'Sriracha', cursive;
}
header {
    background-color: black;
    color: white;
    margin: auto;
    padding: 20px;
    text-align: center;
}
header > p {
    font-family: var(--fonte-link);
}
p.topo {
    font-family: var(--fonte-topo)
}


footer {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 0.8em;
    font-family: var(--fonte-link);
    padding: 5px;
}
a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: white;
}