@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
    
}

header {
    background-color: black;
    color: white;
    text-align: center;
}
header > h1 {
    padding-top: 50px;
    font-variant:small-caps; 
    
}

main {
    font: 3em var(--fonte-corpo);
    text-align: left;
    width: 500px;
    padding: 20px;
    margin: 20px;
}


footer {
    background-color: black;
    color: white;
    text-align: center;
    font: 0.8em var(--fonte-link);
    padding: 5px;
}
footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}
.rodape:hover {
    text-decoration: underline;
    color: white;
}